/* ///////////////////////////////////////// fonts */
/* 書体 */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900");

/* ///////////////////////////////////////// body */
body {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 13pt;
  line-height: 1.4rem;
  color: rgba(45, 40, 40, 1);
}

/* ///////////////////////////////////////// #container */
#container {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-areas:
        "header header"
        "aside markdown"
        "footer footer";
  column-gap: 1em;
  width: 95%;
  margin: 0px auto;
}

/* ///////////////////////////////////////// header */
.header {
  grid-area: header;
  display: flex;
  flex-flow: row wrap-reverse;
  align-items: flex-start;
  padding-bottom: 1em;
  height: 60px;
  border-bottom: solid 5px rgba(245, 106, 106, 1);
}

.header > * {
  flex-grow: 1;
  margin-bottom: 0;
}

/* logo */
.header .logo {
  border-bottom: 0;
  color: inherit;
  font-family: "Roboto Slab", serif;
  font-size: 1.125em; 
}

/* icon */
.icon {
  text-align: right;
}
/* originはリスト構造になっていたが、
tagづけを試しにanchorでやっている。 */
a.fab {
  margin-left: 10px;
  color: inherit;
}

/* ///////////////////////////////////////// aside */
.aside {
  grid-area: aside;
  background-color: rgba(245, 106, 106, 0.2);
}

/* ///////////////////////////////////////// footer */
.footer {
  grid-area: footer;
  height: 3rem;
  background-color: rgba(60, 30, 30, 1);
}

/* ///////////////////////////////////////// Markdown */
#simple-mde {
  grid-area: markdown;
  margin: 0.75rem 0.5rem 0 0;
  width: auto;
}

/* font color in textarea */
.CodeMirror {
  color: rgba(45, 40, 40, 1);
  height: 500px;
}

#simple-mde h1, 
#simple-mde h2, 
#simple-mde h3, 
#simple-mde h4, 
#simple-mde h5 {
    font-family: inherit;
    font-weight: 700;
    line-height: inherit;
}
#simple-mde h1 {
  font-size: 1.7rem;
  line-height: 2rem;
}
#simple-mde h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
#simple-mde h3 {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
#simple-mde h4 {
  font-size: 1.1rem;
}
#simple-mde h5 {
  font-size: 0.9rem;
}

label {
  margin: 0 0 0 0.25rem;
  font-size: 0.8rem;
  font-weight: 900;
  color: rgba(45, 40, 40, 0.5);
}