/* 全体に関わる構造に関するスタイルを定義する */

.container {
	width: 36rem;
	padding: 0 1rem;
	margin: 3rem auto 6rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.headerImage {
	margin: 0 auto;
	width: 6rem;
	height: 6rem;
}

.headerHomeImage {
	margin: 0 auto;
	width: 8rem;
	width: 8rem;
}

.backToHome {
	margin: 3rem 0 0;
}

#header{
	text-align: center;
}

#header h1{
	padding-top: 60px;
}

#mainnav a{
	color: #000;
}

#mainImg{
	position: relative;
  overflow: hidden;
  width: 100%;
  height: 528px;
}

#mainImg img{
	position: absolute;
  left: 50%;
	max-width: 1280px;
  width: 1280px;
  height: 528px;
  margin-left: -640px;
}
