/* 全体に関わる構造に関するスタイルを定義する */

.container {
	width: 100%;
	margin: 0rem auto 6rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.headerLogo {
	margin-top: 3rem;
}


/* blog */
.blogArticles {
	margin-left: 22rem;
}

.blogHeaderImage {
	margin: 0 auto;
	width: 6rem;
	width: 6rem;
}

.backToHome {
	margin: 3rem 0 0;
}

#mainnav a{
	color: #000;
}

#mainImg{
	position: relative;
  overflow: hidden;
  width: 100%;
  height: 528px;
}

#mainImg img{
	position: absolute;
  left: 50%;
	max-width: 1280px;
  width: 1280px;
  height: 528px;
  margin-left: -640px;
}
