/* 全体に関わる構造に関するスタイルを定義する */

.container {
	width: 100%;
	margin: 0 auto;
}

.headerContents {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.headerLogo {
	margin-top: 3rem;
}

/* main */
.mainContents {
	width: 95%;
	margin: 0 auto;
}

/* header navi */
.mainNav {
	display: flex;
	justify-content: center;
	margin: 2rem 0;
}

.mainNav a {
	margin: 0 1rem;
	font-weight: 400;
	color: rgba(80, 80, 80, 1);
}

/* common parts */
.backToHome {
	margin: 3rem 0;
}