@use "../forwards" as fw

main
  width: 100%
  margin: 0 auto
  text-align: center
  .greeting
    padding: 0 10%
    height: 75vh
    display: flex
    flex-direction: column
    align-items: center
    h1
      margin: 4rem 0 2rem
      font-size: 6rem
      line-height: 1
    p
      font-size: 1.2rem
      line-height: 1.7

main
  +fw.media-query("sp")
    .greeting
      margin-bottom: 7rem
      padding: 0 5%
      h1
        margin-bottom: 1rem
        font-size: 4rem
    
