.container {
  text-align: center;
}

.container h4 {
  line-height: 0rem;
  color: rgba(30, 115, 190, 1);
}
.container a {
  color: rgba(80, 80, 80, 1);
}
.container img {
  margin: 0 auto;
  width: 700px;
}