.flexContainer {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexItem {
  margin: 0.1rem;
  padding: 1rem;
  width: 20rem;
  background-color: rgba(225, 250, 255, 0.5);
  border-radius: 0.5rem;

}

.dtTitle {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1rem;
  color: rgba(30, 115, 190, 1);
}

.ddItem {
  padding-top: 0.2rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
}