@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
button,
input,
select,
textarea {
  -webkit-appearance: auto;
  -moz-appearance: auto;
       appearance: auto;
  border-width: 1px;
}

:root {
  font-size: 100%;
  scroll-behavior: smooth;
}
:root body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  border: none;
}

[lang=en] {
  font-family: "Roboto", sans-serif;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(100%, 960px);
  height: 30vh;
  margin: 0 auto;
  padding: 0 4%;
}
header .wrapper h1 {
  font-size: 2rem;
  font-weight: 300;
}
header .wrapper ul {
  display: flex;
  justify-content: flex-end;
}
header .wrapper ul li a {
  font-weight: 300;
}
header .wrapper ul li + li {
  margin-left: 30px;
}
header .wrapper ul .fa-instagram {
  font-size: 1.3rem;
}
header .top-visual {
  width: 100%;
  height: 48vh;
  background: url(./img/mainvisual-pc.jpg) no-repeat center;
}
header img {
  width: 100%;
  height: 48vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 428px) {
  header .wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    height: 15vh;
  }
  header .wrapper h1 {
    font-size: 1.9rem;
    font-weight: 300;
  }
  header .wrapper ul li a {
    font-size: 0.85rem;
  }
  header .wrapper ul li a.fa-instagram {
    font-size: 1.5rem;
  }
  header .top-visual {
    height: 112vw;
    background: url(./img/mainvisual-sp.jpg) no-repeat center;
    background-size: 100%;
  }
}
main section {
  width: min(100%, 960px);
  margin: 0 auto;
  padding: 0 4%;
}
main section h2 {
  margin: 90px 0 60px;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
}
main section ul {
  margin-bottom: 30px;
}
main section ul li {
  padding: 3px 0;
}
main section ul li span::after {
  content: " ";
}
main section ul li.name {
  margin-bottom: 30px;
}
main section p {
  line-height: 1.5;
}
main section.works ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
main section.works ul a {
  display: block;
}
main section.works ul a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.news dl div {
  display: flex;
  align-items: center;
}
main section.news dl div:first-of-type dt, main section.news dl div:first-of-type dd {
  padding-top: 15px;
  border-top: 1px dotted #aaa;
}
main section.news dl div dt, main section.news dl div dd {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #aaa;
}
main section.news dl div dt {
  width: 20%;
  font-weight: 300;
  letter-spacing: 0.1em;
}
main section.news dl div dd {
  width: 80%;
}
main section.contact {
  text-align: center;
}
main section.contact ul {
  margin: 0;
}
main section.contact ul div {
  display: flex;
}
main section.contact ul div + div {
  margin-top: 10px;
}
main section.contact ul div dt {
  width: 15%;
  font-size: 1.1rem;
  font-weight: 300;
}
main section.contact ul div dd {
  width: 85%;
}
main section.contact ul div dd input {
  width: 100%;
  height: 50px;
  padding: 5px;
  text-align: left;
  border: 1px solid #bbb;
}
main section.contact ul div dd textarea {
  height: 150px;
  width: 100%;
  padding: 3%;
  text-align: left;
  border: 1px solid #bbb;
}
main section.contact button {
  width: 200px;
  height: 50px;
  margin: 35px 0 130px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  background-color: #333;
}

@media screen and (max-width: 428px) {
  main section.about h2 {
    margin-bottom: 40px;
  }
  main section.about p {
    font-size: 0.9rem;
  }
  main section.works h2 {
    margin: 80px 0 40px;
  }
  main section.works ul {
    grid-template-columns: 1fr;
  }
  main section.news h2 {
    margin-bottom: 40px;
  }
  main section.news dl div {
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 0;
    border-bottom: 1px dotted #aaa;
  }
  main section.news dl div:first-of-type {
    padding-top: 15px;
    border-top: 1px dotted #aaa;
  }
  main section.news dl div:first-of-type dt, main section.news dl div:first-of-type dd {
    padding-top: 0;
    border-top: unset;
  }
  main section.news dl div dt, main section.news dl div dd {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    border-bottom: unset;
  }
  main section.news dl div dt {
    margin-bottom: 5px;
  }
  main section.news dl div dd {
    line-height: 1.5;
  }
  main section.contact h2 {
    margin: 70px 0 40px;
  }
  main section.contact ul div {
    flex-direction: column;
  }
  main section.contact ul div dt {
    font-size: 1rem;
    margin-bottom: 3px;
  }
  main section.contact ul div dd {
    width: 100%;
  }
  main section.contact button {
    margin: 35px 0 70px;
  }
}
footer {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 0.7rem;
  color: #fff;
  background-color: #333;
}/*# sourceMappingURL=style.css.map */