@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900");

/* Font */
/* 本文 */
body, input, select, textarea {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 5mm;
  font-weight: 300;
  line-height: 1.7; 
  color: rgba(80, 80, 80, 1);
}

/* 見出し */
h1, h2, h3, h4, h5, h6 {
  font-family: "M PLUS 1p", serif;
  margin: 0 0 1em 0;
  line-height: 1.3;
  font-weight: 500;
  color: rgba(80, 80, 80, 1);
}

h1 {
  margin: 0 0 0.25em 0;
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 900;
  letter-spacing: -0.025rem;
}

h2 { 
  font-size: 1.75rem;
  font-weight: 800;
  letter-spacing: -0.025rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.025rem;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 { font-size: 0.9rem; }

h6 { font-size: 0.7rem; }

/* リンク */
a {
	color: rgba(15, 140, 235, 1);
}

/* リスト */
ul {
    list-style: none;
    margin: 0.5rem 0;
}

li { 
  margin-bottom: 0.5rem;
  padding-left: 1em; 
  text-indent: -1em;
  line-height: 1.3;
  font-size: 0.85rem;
  font-weight: 400;  
}

li:before {
  content: "●";
	color: rgba(15, 140, 235, 1);
}