@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap");
button,
input,
select,
textarea {
  -webkit-appearance: auto;
  -moz-appearance: auto;
       appearance: auto;
  border-width: 1px;
}

:root {
  font-size: 93.75%;
  scroll-behavior: smooth;
}
:root body {
  font-family: "Noto Sans JP", sans-serif, Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Hiragino Sans", "メイリオ", "Meiryo", sans-serif;
  border: none;
  line-height: 1;
  font-feature-settings: "palt";
  color: #5A5A5A;
  background-color: #FBFAF6;
}
:root body h1, :root body h2, :root body h3, :root body h4, :root body h5 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
:root body h1, :root body h2 {
  font-weight: 900;
}
:root body h3, :root body h4, :root body h5 {
  font-weight: 700;
}
:root body h1 {
  font-size: 6rem;
}
:root body h2 {
  font-size: 4rem;
}
:root body h3 {
  font-size: 2.75rem;
}
:root body h4 {
  font-size: 1.75rem;
}
:root body h5 {
  font-size: 1.25rem;
}
:root body [lang=en] {
  font-family: "Jost", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  width: 100%;
  font-size: 1.25rem;
  color: #fff;
  background-color: #333;
  z-index: 101;
}
header .logo {
  display: block;
  padding: 30px 0;
}
header ul {
  display: flex;
  gap: 30px;
}
header ul li a {
  display: block;
  padding: 30px 0;
}

main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
main .greeting {
  margin-bottom: 5rem;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .greeting h1 {
  margin: 4rem 0 2rem;
  font-size: 6rem;
  line-height: 1;
}
main .greeting p {
  font-size: 1.2rem;
  line-height: 1.7;
}

main .words {
  margin-bottom: 100px;
}
main .words > p {
  font-family: "Jost", sans-serif;
  font-size: 1.25rem;
  line-height: 1.7;
}

main .audio-player {
  margin-bottom: 100px;
}

@media screen and (max-width: 428px) {
  main .greeting {
    margin-bottom: 7rem;
    padding: 0 5%;
  }
  main .greeting h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  color: #fff;
  background-color: #333;
  z-index: 102;
}
footer small {
  letter-spacing: 0.1em;
}

@media screen and (max-width: 428px) {
  footer {
    position: unset;
  }
}

main .swiper {
  width: 100vw;
  height: 85vh;
}
main .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 428px) {
  main .swiper {
    height: 100vh;
  }
  main .swiper .swiper-wrapper .swiper-slide img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

main .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75vh;
  margin: 0 auto 5rem;
  padding: 0 5%;
  background-color: #eee;
}

main h2, main h3, main h4, main h5 {
  margin-bottom: 2rem;
}
main .form-style.green {
  color: red;
}

.controller {
  margin-bottom: 100px;
}
.controller ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}
.controller ul li {
  aspect-ratio: 4/3;
  overflow: hidden;
}
.controller ul li:hover img {
  transform: scale(115%);
}
.controller ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}/*# sourceMappingURL=App.css.map */