@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900");

body, input, select, textarea {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 5mm;
  font-weight: 300;
  line-height: 1.7; 
  color: rgba(80, 80, 80, 1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "M PLUS 1p", serif;
  margin: 0 0 1em 0;
  line-height: 1.3;
  font-weight: 700;
  color: rgba(80, 80, 80, 1);
}

h1 {
  font-size: 4em;
  margin: 0 0 0.25em 0;
}

h2 { font-size: 1.75em; }

h3 { font-size: 1.25em; }

h4 { font-size: 1.1em; }

h5 { font-size: 0.9em; }

h6 { font-size: 0.7em; }

a {
	color: rgba(15, 140, 235, 1);
}